html, body {
  width : 100%;
  height: 100%;
}

img{
  /*preventing the right-click on images*/
  pointer-events:none;
}

.content{

}

/*header-related classes*/
.header {

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/*.sticky + .content {
  padding-top: 102px;
}*/

.logoButton{
  width: 100%;
}

#logoImage{
  display: block;
  min-height:30px;
  max-height:50px;
  margin-left: auto;
  margin-right: auto;
  //warning, the height of the image is computed by jQuery
}

/*Classes related to the gallery display (a CSS grid)*/
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell{
  padding: 10px;

/*to view the cells, uncomment the end of this class*/
  /*border-style: solid;
  border-color: coral;
  border-width: thick;*/
}

.pictureStyle{
  display:block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 15px #aaaaaa;
}

/*Classes related to the modals*/
/*background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.3;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
/* Hide the slides by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
