html, body {

}

body{
  height: 100%;
  margin-left:3vh;
  margin-right:3vh;
}

.title{
  font-family: 'Karla', sans-serif;
  color: #444444;
}

.normalText, p{
  font-family: 'Lora', serif;
  color: #444444;
}

img{
  /*preventing the drag and drop*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content{

}

/*header-related classes*/
.header {

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/*.sticky + .content {
  padding-top: 102px;
}*/

.header{
  display: inline-block;
  width: 100%;
  height: 10%;
  margin-top: 0.3%;
}

#myHeader>a{

}

/*#myHeader>a>img{
  min-height:30px;
  max-height:50px;
  margin-left: auto;
  margin-right: auto;
}*/

.logoButton{
  float: left;
  height: 100%;
}

.instaButton{
  float: right;
}

.aboutButton{
  float: right;
}

#logoImage{
  min-height:30px;
  max-height:50px;
}

#JPicon{
  height:100%;
  min-height:20px;
  max-height:40px;
}

#instaLogo{
  height:100%;
  min-height:20px;
  max-height:40px;
}

/* Cross page styles */
/*# Everything about the Cookies disclaimer*/
/*Useless for now*/
/*.wrapper{
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.5);
  align-items: center;
}

.wrapper .disclaimer{
  border-radius: 25px;
  background-color: rgba(220,220,220,0.8);
  margin: 5% auto;
  padding: 1rem;
  width: 40%;
  text-align: center;
}
@media all and (orientation:portrait){
  .wrapper .disclaimer{
    width: 80%;
  }
}

.header-disclaimer{
  position: relative;
  width: 100%;
}

#cookiesClose{
  position: sticky;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: rgba(250, 250, 250, 0.8);
  width: 100%;
}
#cookiesClose:hover{
  color: rgba(250, 250, 250, 1);
}

.cookiesMoreLink{
  text-decoration: none;
  opacity: 0.4;
}
.cookiesMoreLink:hover{
  opacity: 0.7;
}

.button{
  background-color: rgba(250, 250, 250, 0.5);
  border: none;
  color: #444444;
  padding: 0.8em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 0.95rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 12em;
}
.button:hover{
  background-color: rgba(250, 250, 250, 0.8);
}

.wrapper .disclaimer .header-disclaimer .close-disclaimer{
  color: #b3b6b9;
  font-size: 28px;
  position:relative;
  right: 0;
  top: 0;
}

::-webkit-scrollbar-thumb{
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}
*/

/*Classes related to the gallery display (a CSS grid)*/
.gallery{
  display: grid;
}

/* in the end this in done in Jquery*/
/*@media all and (orientation: portrait) {
  .gallery{
    grid-template-columns: 1fr;
  }
}

@media all and (orientation: landscape) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
}*/

.cell{
  padding: 10px;

/*to view the cells, uncomment the end of this class*/
  /*border-style: solid;
  border-color: coral;
  border-width: thick;*/
}

.pictureStyle{
  display:block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 15px #aaaaaa;
  pointer-events: all;
}

/*Classes related to the modals*/
/*background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95)
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.closeCursor {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.closeCursor:hover,
.closeCursor:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
/* Hide the slides by default */
.slides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.bigPictures{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
